<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар видалено</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    
    <div class="max-w-sm mx-auto p-6 bg-white rounded-lg shadow-xl text-center border-t-4 border-red-500 transform transition duration-500 hover:scale-105">
        
       <img
        src="./../src/bin.png"
        alt="Додано"
        class="mx-auto mb-4"
        width="80"
      />

        <h1 class="text-3xl font-bold text-red-700 mb-4">Товар видалено!</h1>
        <p class="text-gray-600 mb-6">Товар успішно вилучено з каталогу.</p>
        
        <a href="/catalog" class="inline-block bg-red-600 text-white font-semibold py-3 px-6 rounded-lg hover:bg-red-700 transition duration-300 transform hover:-translate-y-1 shadow-md">
            Повернутися до каталогу
        </a>
    </div>
    
</body>
</html>